@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font: 'Poppins', sans-serif;
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dblue: hsl(249, 10%, 26%);
$gblue: hsl(246, 25%, 77%);

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: $red;
    font-family: $font;
    background-image: url(./bg-intro-desktop.png);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
   
    .sections{
        display: flex;
    justify-content: center;

    .section1{
        width: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding: 50px;
        p{
            font-size: 0.9rem;
        }
        h1{
            font-size: 2.8rem;
            line-height: 1.2;
            padding: 0px 80px 0px 0px;
            margin-bottom: 20px;
        }
    }
    .section2{
        width: 75vh;
        display: flex;
        align-items: center;
        flex-direction: column;
       
        .tryit{
            height: 45px;
            width: 55vh;
            color: white;
            background-color: $blue;
            border: 1px solid $blue;
            border-radius: 5px;
            padding: 10px;
            font-size: 0.8rem;
            margin-bottom: 20px;
            box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.31);
            span{
                font-weight: 600;
            }
        }

        .form{
            background-color: white;
            width: 55vh;
            padding: 25px;
            border-radius: 5px;
            font-family: $font;
           
            .input{
                width: 48vh;
                border: 1px solid $gblue;
                border-radius: 3px;
               input::placeholder{
                font-weight: 600;
               }
            }
            .empty-input{
                border: 2px solid $red;
                input::placeholder {
                    color: $red;
                    font-weight: 600;
                }
            }
            .text{
                width: 40vh;
                height: 5vh;
                border: 0px;
                padding: 20px;
                color: $dblue;
                font-weight: 600;
                
                }
            .warning{
                visibility: hidden;
            }
            .empty-p{
                visibility: visible;
                font-size: 0.7rem;
                color: $red;
                text-align: right;
                padding: 5px;
                font-style: italic;
            }
            .empty-i{
                visibility: visible;
                vertical-align: middle;
            }
            .terms{
                color: $gblue;
                font-style: normal;
                text-align: center;
                font-size: 0.5rem;
                span{
                    color: $red;
                    font-weight: 800;
                }
            }
        }
        .claim{
            height: 45px;
            width: 48vh;
            color: white;
            background-color: $green;
            border: 1px solid $green;
            border-radius: 5px;
            padding: 10px;
            font-size: 0.8rem;
            font-weight: 500;
            margin: 0px 0px 5px 0px;
            box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.57);

    }
   
    }
}
}
input:focus{
    outline: none;
}
.input > div:active{
    background-color: yellow;
}
button:hover{
    cursor: pointer;
}
.claim:hover{
     opacity: 0.8;
}
@media screen and (max-width: 875px){
    .container {
        height: 100%;
    }
    .sections{
       flex-direction: column;
       padding: 50px;
       .section1{
       h1{
        font-size: 1.8rem !important;
        text-align: center;
        padding: 0px 30px 0px 30px !important;
       }
       p{
        text-align: center;
        padding: 0px 30px 0px 30px !important;
       }
       }
      .section2{
        .tryit{
            height: 70px !important;
            width: 45vh !important;
            color: white;
            background-color: $blue;
            border: 1px solid $blue;
            padding: 20px 80px 20px 80px !important;
            line-height: 1.5;
        }
        .claim{
            height: 50px !important;
            width: 38vh !important;
        }
        .form{
            width: 45vh !important;

            .text{
                width: 30vh !important;
            }
            .input{
                width: 38vh !important;
            }
        }
    }
}
}